{% extends 'base.html' %}

{% block title %}修改密码 - 校园互助服务平台{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="card">
        <div class="card-header">修改密码</div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}<div class="form-error">{{ field.errors.0 }}</div>{% endif %}
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
            <div class="form-error mb-2">{{ form.non_field_errors.0 }}</div>
            {% endif %}
            <div class="d-flex gap-1">
                <button type="submit" class="btn btn-primary">修改密码</button>
                <a href="{% url 'accounts:profile' %}" class="btn btn-outline">返回</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
