{% extends 'base.html' %}

{% block title %}设置新密码 - 校园互助服务平台{% endblock %}

{% block content %}
<div class="mx-auto" style="max-width:450px;">
    <div class="card">
        <h2 style="margin-bottom:16px;">设置新密码</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1">新密码</label>
                <input type="password" name="new_password1" id="id_new_password1" class="form-control" required placeholder="请输入新密码">
            </div>
            <div class="form-group">
                <label for="id_new_password2">确认新密码</label>
                <input type="password" name="new_password2" id="id_new_password2" class="form-control" required placeholder="请确认新密码">
            </div>
            <button type="submit" class="btn btn-primary" style="width:100%;">确认修改</button>
        </form>
    </div>
</div>
{% endblock %}
